<!DOCTYPE html> 
<html>
  <head>
    <title>EpicTracker</title>
    <link rel="icon" href="/favicon.ico">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/assets/application.css">
    <script src="/assets/application.js" type="module"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
